@use "./_global-variables.scss";
@use "./_nav-bar.scss";
@use "./splash-screen";
@use "./animation-on-scroll";
$h2-size: 2.3rem;
$h2-weight: 600;

main {
    div {

        // width: 100%;
        // width: 95%;
        // margin: 0 auto;
        header {
            div {
                padding: 6dvh 0 3dvh !important;
                text-align: center !important;
                overflow: hidden !important;

                h2 {
                    margin-bottom: 0 !important;
                    line-height: normal !important;
                    font-size: $h2-size !important;
                    font-weight: $h2-weight !important;
                    display: inline-block !important;

                    .main-effect {
                        display: inline-block;
                        color: var(--purple-accent);
                        border-right: 0px solid;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                        // animation: 
                        // showing-text 2s ,
                        // cursor 0.4s step-end alternate;
                    }
                }

                p {
                    margin: 0 !important;
                    color: var(--secondary-text-color) !important;
                    font-weight: 500 !important;
                    transform: translateY(200%) !important;
                    transition: 0.7s !important;
                    line-height: normal !important;
                }
            }
        }

        section#developers {
            div {
                overflow-x: hidden;
                div.info {
                    // transform: scale(1);
                    overflow: hidden !important;

                    // animation:small-text linear;
                    // animation-timeline: scroll();
                    h2 {
                        font-size: $h2-size !important;
                        font-weight: 700 !important;
                        transition: 0.7s !important;
                    }

                    .developersTitle {
                        margin-bottom: 0rem !important;
                        font-family: inherit;
                        font-weight: 700 !important;
                        line-height: normal !important;
                        transition: 0.7s !important;
                        transform: translateY(-300%);
                    }
                    .infoTitle{
                        transform: translateY(-300%);
                    }

                    .dev-describtion {
                        width: 82% !important;
                        color: var(--secondary-text-color) !important;
                        font-size: 0.83rem !important;
                        margin: 0 !important;
                        transition: 0.7s ease;
                        opacity: 0;
                    }

                    .services {
                        color: var(--main-text-color) !important;
                        background-color: var(--main-background-color) !important;
                        // width: 22% !important;
                        transform: translateX(-100%);
                        display: inline-block;
                        padding: 8px !important;
                        border-radius: 8px !important;
                        // margin-top: 2vh !important;
                        margin: 2vh 0 0 !important;
                    }
                }

                div.details {
                    display: flex !important;
                    flex-wrap: wrap !important;
                    align-items: center !important;
                    justify-content: center !important;
                    gap: 2% !important;

                    .t1,
                    .t2,
                    .t3 {
                        width: 32% !important;
                        margin: 3dvh 0 !important;
                        padding: 10px 0 0 !important;
                    }
                    
                    .t4,
                    .t5 {
                        padding: 10px 0 0 !important;
                        width: 49% !important;
                    }

                    .track {
                        opacity: 0;
                        transform: translateY(20px);
                        transition: 0.7s;

                        fieldset {
                            outline-color: #fee9ff !important;
                            border: 3px solid #fee9ff !important;
                            padding: 5px !important;
                            border-radius: 12px !important;
                            text-align: center !important;
                            transition: 0.7s !important;

                            &:hover {
                                background-color: var(--purple-accent) !important;
                                color: #fee9ff !important;

                                p {
                                    color: var(--main-background-color) !important;
                                }

                                legend {
                                    font-size: 1rem !important;
                                    box-shadow: 0px 0px 10px 0px var(--purple-accent) !important;
                                }
                            }

                            legend {
                                width: auto !important;
                                margin: 0 auto !important;
                                padding: 25px !important;
                                background-color: #fee9ff !important;
                                border-radius: 12px !important;
                                position: relative !important;

                                svg {
                                    background-color: #fee9ff !important;
                                    position: absolute !important;
                                    left: 50% !important;
                                    top: 50% !important;
                                    transform: translate(-50%, -50%) !important;
                                }
                            }

                            p {
                                color: var(--secondary-text-color) !important;
                                // font-size: 0.63rem !important;
                                font-size: 0.554rem !important;
                                width: 80% !important;
                                margin: 2vh auto !important;
                                font-weight: 400 !important;

                            }

                            h4 {
                                margin: 0 !important;
                                font-weight: 600;
                                line-height: normal !important;
                                font-size: 1rem !important;
                            }
                        }
                    }
                }
            }
        }

        section#non-tech {
            .container-non-tech {
                display: flex !important;
                flex-direction: column !important;
                gap: 12px !important;

                div {
                    &:first-child {
                        display: flex !important;
                        gap: 10px !important;
                        align-items: center !important;

                        h2 {
                            font-size: 2.3rem !important;
                            font-weight: 700 !important;
                            display: inline-block !important;
                            margin: 0 !important;
                        }

                        img {
                            padding: 12px !important;
                            background-color: var(--main-background-color) !important;
                            border-radius: 8px !important;
                        }
                    }

                    &:nth-child(2) {
                        p {
                            color: var(--secondary-text-color) !important;
                            font-size: 0.83rem !important;
                            font-weight: 400 !important;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }

    hr {
        margin: 4vh 0 !important;
        height: 2px !important;
        background-color: var(--secondary-text-color) !important;
    }
}

// --Small Device--
@media (max-width: 767px) {
    body{
        overflow: hidden;
    }
    main {
        div {
            text-align: center !important;

            header {
                div {
                    h2 {
                        font-size: 2rem !important;
                    }

                    p {
                        font-size: 0.7rem !important;
                    }
                }
            }

            section#developers {
                div {
                    div.info {
                        .dev-describtion {
                            width: 100% !important;
                            font-size: 0.73rem !important;
                        }

                        .services {
                            width: 100% !important;
                            margin: 2vh auto 0 !important;
                        }
                    }

                    div.details {
                        margin-top: 1dvh !important;

                        .track {
                            transform: translateX(200%);

                            &:nth-of-type(even) {
                                transform: translateX(-200%);
                            }

                            width: 100% !important;
                            margin: 1dvh 0 !important;

                            fieldset {
                                p {
                                    font-size: 0.375rem !important;
                                }

                                .big-title {
                                    font-size: 0.563em !important;
                                }
                            }
                        }
                    }
                }
            }

            section#non-tech {
                .container-non-tech {
                    div {
                        &:first-child {
                            display: flex !important;
                            gap: 10px !important;
                            align-items: center;
                            flex-direction: column;

                            h2 {
                                font-size: 1.25rem !important;
                            }
                        }

                        &:nth-child(2) p {
                            font-size: 0.688rem !important;
                        }
                    }
                }
            }
        }
    }
}

// --Tablet--
@media (min-width: 768px) and (max-width: 991px) {
    main {
        div {
            header {
                div {
                    h2 {
                        font-size: 1.3rem !important;
                    }

                    p {
                        font-size: 0.43rem !important;
                        transform: translateY(300%) !important;
                    }
                }
            }

            section#developers {
                div {
                    div.info {
                        h2 {
                            font-size: 1.3rem !important;
                        }

                        .dev-describtion {
                            font-size: 0.43rem !important;
                        }

                        .services {
                            width: 28% !important;
                            font-size: 0.63rem !important;
                        }
                    }

                    div.details {
                        .track {
                            fieldset {
                                legend {
                                    padding: 21px !important;
                                }

                                p {
                                    font-size: 0.337rem !important;
                                    margin: 1vh auto !important;
                                }

                                h4 {
                                    font-size: 0.7rem !important;
                                }
                            }
                        }
                    }
                }
            }

            section#non-tech {
                .container-non-tech {
                    div {
                        &:first-child {
                            img {
                                padding: 7px !important;
                            }

                            h2 {
                                font-size: 1.563rem !important;
                            }

                        }

                        &:nth-child(2) {
                            p {
                                font-size: 0.813rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// --Medium Laptop--
@media (min-width: 992px) and (max-width: 1199px) {
    main {
        div {
            header {
                div {
                    p {
                        font-size: 0.57rem !important;
                    }
                }
            }

            section#developers {
                div {
                    div.info {
                        .dev-describtion {
                            width: 82% !important;
                            color: var(--secondary-text-color) !important;
                            font-size: 0.57rem !important;
                        }

                        .services {
                            font-size: 0.66rem !important;
                        }
                    }

                    div.details {
                        .track {
                            fieldset {
                                p {
                                    font-size: 0.435rem !important;
                                }
                            }
                        }
                    }
                }
            }

            section#non-tech {
                .container-non-tech {
                    div {
                        &:first-child {
                            img {
                                padding: 7px !important;
                            }

                            h2 {
                                font-size: 2rem !important;
                            }
                        }

                        &:nth-child(2) {
                            p {
                                font-size: 0.79rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes showing-text {
    from {
        width: 0;
        border-right: 5px solid;
    }
}

@keyframes small-text {
    to {
        transform: scale(0);
    }
}

.show1 {
    transform: translateY(00%) !important;
}
